<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chain Reaction Account Recovery</title>
    </head>
    <body>
        <div style="font-family: 'Raleway'; font-size: 16px; line-height: 18px;">
            <p>Hi {{user_name}},</p>Our game server <a target='_blank' href="{{ server_page }}">Chain Reaction</a> received a request to reset your account password. No further action is needed on your part
            if you did not make the request.
            <div style="margin: 10px auto;">
                <strong>
                    Visit this <a href="{{ password_reset_link }}">link</a> in order to choose a new password for your account. Please be aware that the link will expire in 2 hours time.
                </strong> If the link does not work, you may go to the <a href="{{ password_reset_page }}">password reset page</a> and enter the following authentication ID:
                <p style="text-align: center; font-weight: bold; color: red;">{{ password_reset_key }}</p>
            </div>
            <div>
                Cheers,<br />
                Chain Reaction Server
            </div>
            <div style="font-size: 10pt;">
                <br />
                <i>*** This is a system generated email. Please do not reply to this message. ***</i>
            </div>
        </div>
    </body>
</html>