<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Chain Reaction Password Reset</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Shubhamoy <https://github.com/chainreaction9>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='content/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.5/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='content/loading.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='content/sky-forms.css') }}" />
        
    </head>
    <body>
        <div class="animate" style="margin: 30px auto; max-width: 400px;">
            <form action="/chainreaction-online/reset-password" class="sky-form" id="password-reset-form" method="POST">
                <header class="custom-form-header" style="background: darkblue!important; color: white!important; font-family: 'Raleway'!important;">{{ form_header }}</header>
                <fieldset>
                    <section>
                        <input type="hidden" placeholder="q" id="q" name="q" value="{{ q }}" />
                        <input type="hidden" placeholder="token" id="_token" name="_token" value="{{ token }}" />
                        <label class="input">
                            <input type="password" placeholder="Password" id="_pass" name="_pass" required />
                            <b class="tooltip tooltip-bottom-right">Must be atleast 5 characters long.</b>
                        </label>
                    </section>
                    <section>
                        <label class="input" id="_passLabel">
                            <input type="password" placeholder="Confirm password" required id="_passAgain" name="_passAgain" />
                            <b id="_passwordWarning"></b>
                        </label>
                    </section>
                </fieldset>
                <footer id="password-reset-footer">
                    <button type="submit" class="button">Submit</button>
                </footer>
                <footer><p style="text-align: center;"><a href="/">Home Page</a></p></footer>
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js" data-main="{{url_for('static', filename='scripts/js/password-reset')}}"></script>
    </body>
</html>
